{% extends 'base.html' %}
{% load i18n %}
{% block content %}

  <section class="login_box_area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="login_form_inner">
            <h3>{% trans 'Set a New Password' %}</h3>
            <form method="post" class="row login_form">
                {% csrf_token %}
                <div class="col-md-12 form-group">
                    <input type="password" name="{{ form.new_password1.name }}"
                           class="form-control"
                           placeholder="Enter New Password"
                           id="id_{{ form.new_password1.name }}">
                </div>
                <div class="col-md-12 form-group">
                    <input type="password" name="{{ form.new_password2.name }}"
                           class="form-control"
                           placeholder="Confirm New Password"
                           id="id_{{ form.new_password2.name }}">
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" class="button button-login w-100">{% trans 'Reset Password' %}</button>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}