{% extends 'base.html' %}
{% load i18n %}
{% block content %}

  <section class="login_box_area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="login_form_inner">
            <h3>{% trans 'Password Reset Requested' %}</h3>
            <p>{% trans 'We have emailed you instructions for resetting your password. Please check your inbox.' %}</p>
            <a href="{% url 'login' %}" class="button button-login">{% trans 'Back to Login' %}</a>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}