{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <!-- Password Reset Form Section -->
  <section class="login_box_area section_gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="login_form_inner">
            <h3>{% trans 'Reset Your Password' %}</h3>
            <form class="row login_form" action="{% url 'password_reset' %}" method="post" id="passwordResetForm">
              {% csrf_token %}
              <div class="col-md-12 form-group">
                <input type="email" class="form-control" name="email" placeholder="Enter your email" required>
              </div>
              <div class="col-md-12 form-group">
                <button type="submit" class="button button-login w-100">{% trans 'Send Reset Link' %}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}