{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seamless B2B Sourcing & Distribution Platform</title>
    <link rel="icon" href="{% static 'img/Fevicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static "css/vendors/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static  'css/vendors/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendors/themify-icons/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendors/nice-select/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendors/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendors/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    {% block extra_css %}
        
    {% endblock %}
</head>
<body>
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>#}

<!--================ Start Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="{% url 'home' %}"><img src="{% static "img/logo2.png" %}" width="100" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse  navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">{% trans 'home' %}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'sellers' %}">{% trans 'Company' %}</a>
                        <li class="nav-item"><a class="nav-link" href="#scroll">{% trans 'Contact' %}</a></li>
                    </ul>

                    <ul class="nav-shop">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' user.pk %}">{% trans 'Dashboard' %}</a>
                            </li>
                            <li>

                                <form method="post" action="{% url 'logout' %}">
                                    {% csrf_token %}
                                    <li class="nav-item"><a>
                                        <button type="submit" class="button button-header">{% trans 'Logout' %}</button>
                                    </a></li>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="button button-header" href="{% url 'login' %}">{% trans 'Login' %}</a></li>
                        {% endif %}
                        <li>
                            <form method="post" action="{% url 'set_language' %}">
                                {% csrf_token %}
                                <select name="language" onchange="this.form.submit()">
                                    <option value="en" {% if LANGUAGE_CODE == 'en' %}selected{% endif %}>
                                    English
                                    </option>
                                    <option value="ka" {% if LANGUAGE_CODE == 'ka' %}selected{% endif %}>
                                    ქართული
                                    </option>
                                    <option value="ru" {% if LANGUAGE_CODE == 'ru' %}selected{% endif %}>
                                    Russian
                                    </option>
                                </select>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    

</header>

{% block content %}
{% endblock %}



<footer class="footer">
    <div class="footer-area">
        <div class="container">
            <div class="row section_gap">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title large_title" id="scroll">{% trans 'Our Mission' %}</h4>
                        <p>
                            {% trans 'Our mission is to connect businesses with reliable distribution companies by providing a seamless platform for discovering products and suppliers. We aim to simplify the sourcing process, foster strong business relationships, and create opportunities for growth in various industries.' %}
                        </p>
                        <p>
                            {% trans 'Make industry more flexible' %}
                        </p>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        
                    </div>
                </div>
                <!-- წასაშლელია!?????? -->
                {#					<div class="col-lg-2 col-md-6 col-sm-6">#}
                {#						<div class="single-footer-widget instafeed">#}
                {#							<h4 class="footer_title">{% trans 'Gallery' %}</h4>#}
                {#							<ul class="list instafeed d-flex flex-wrap">#}
                {#								<li><img src="img/gallery/r1.jpg" alt=""></li>#}
                {#								<li><img src="img/gallery/r2.jpg" alt=""></li>#}
                {#								<li><img src="img/gallery/r3.jpg" alt=""></li>#}
                {#								<li><img src="img/gallery/r5.jpg" alt=""></li>#}
                {#								<li><img src="img/gallery/r7.jpg" alt=""></li>#}
                {#								<li><img src="img/gallery/r8.jpg" alt=""></li>#}
                {#							</ul>#}
                {#						</div>#}
                {#					</div>#}

                <!-- წასაშლელია!????? -->
                <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget tp_widgets">
                        <h4 class="footer_title">{% trans 'Contact Us' %}</h4>
                        <div class="ml-40">
                            <p class="sm-head">
                                <span class="fa fa-phone"></span>
                                {% trans 'Phone Number' %}
                            </p>
                            <p>
                                +995 595 117 887 <br>
                                +995 577 124 112
                            </p>

                            <p class="sm-head">
                                <span class="fa fa-envelope"></span>
                                Email
                            </p>
                            <p>
                                support@momarageba.ge <br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row d-flex">
                <p class="col-lg-12 footer-text text-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'css/vendors/jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'css/vendors/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'css/vendors/skrollr.min.js' %}"></script>
<script src="{% static 'css/vendors/owl-carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'css/vendors/nice-select/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'css/vendors/jquery.ajaxchimp.min.js' %}"></script>
<script src="{% static 'css/vendors/mail-script.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>