
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p | safe }}
    <div style="text-align: center;">
        <button type="submit">Save</button>
        <a href="{% url 'dashboard' user.pk %}" class="cancel-btn">Cancel</a>
    </div>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Level 0 category checkbox change event
        document.getElementById('id_level_0_category').addEventListener('change', function () {
            let categoryId = this.value;

            if (categoryId) {
                fetch(`/load-subcategories/?category_id=${categoryId}&level=0`)
                    .then(response => response.json())
                    .then(data => {
                        let subcategorySelect = document.getElementById('id_level_1_category');
                        subcategorySelect.innerHTML = '<option value="">Select Subcategory</option>';
                        data.forEach(function (subcategory) {
                            let option = document.createElement('option');
                            option.value = subcategory.id;
                            option.textContent = subcategory.name;
                            subcategorySelect.appendChild(option);
                        });

                        // Automatically check subcategories and clear lower-level sub-subcategories
                        document.getElementById('id_level_2_category').innerHTML = '<option value="">Select Sub-subcategory</option>';
                    });
            }
        });

        // Level 1 category checkbox change event
        document.getElementById('id_level_1_category').addEventListener('change', function () {
            let subcategoryId = this.value;

            if (subcategoryId) {
                fetch(`/load-subcategories/?category_id=${subcategoryId}&level=1`)
                    .then(response => response.json())
                    .then(data => {
                        let subSubcategorySelect = document.getElementById('id_level_2_category');
                        subSubcategorySelect.innerHTML = '<option value="">Select Sub-subcategory</option>';
                        data.forEach(function (subSubcategory) {
                            let option = document.createElement('option');
                            option.value = subSubcategory.id;
                            option.textContent = subSubcategory.name;
                            subSubcategorySelect.appendChild(option);
                        });
                    });
            }
        });
    });
</script>
