

<!DOCTYPE html>
<html lang="ka">
<head>
	<meta http-equiv="content-type" charset="text/html; charset=utf-8" />

	<meta property="og:title" content="ბია - BIA" />
	<meta property="og:url" content="https://www.bia.ge/Company/12585" />
	<meta property="og:site_name" content="BIA" />
		<meta property="fb:admins" content="1371285136" />
	<meta name="theme-color" content="#f9b230" />

	<meta name="keywords" content="404447354,ბია,ბიზნეს ინფორმაციის სააგენტო,ბია,ბია ფორუმი,აღზრდა,ბაღი,ბიზნეს კატალოგი,გამოკითხვა,განათლება,იმეილ მარკეტინგი,ინვესტიციები,ინფორმაცია,კვლევა,კომპანია,მარკეტინგი,მარკეტინგული კვლევები,პროფილი,საზაფხულო სკოლა,სია,სკოლა,სტატისტიკა,ფინური განათლების მოდელი,ფორუმი" />
	<meta name="description" content="ბია პირველი ქართული კომპანიაა, რომელიც ბიზნეს ინფორმაციის დამუშვებასა და გავრცელებას ემსახურება. ბია მართავს საქართველოში რეგისტრირებული კომპანიების ყველაზე დიდ და მუდმივად განახლებად ორენოვან ონლაინ მონაცემთა ბაზას, რომელიც მოიცავს ინფორმაციას საქართველოში ეკონომიკურად აქტიურ 41 000-ზე მეტ იურიდიულ სუბიექტზე. გარდა ამისა, ბიას ქართულ კომპანიებს სთავაზობს ბიზნეს კონსულტაციას ინვესტიციების მოზიდვის, ახალი საექსპორტო ბაზრების ათვისების, გაყიდვების ზრდის და სხვა მრავალი მიმართულებით.
ბია ქართული საწარმოების შესახებ ბიზნეს ინფორმაციას აწვდის უმსხვილეს, მსოფლიო დონის პარტნიორებს და საერთაშორისო პარტნიორების მეშვეობით, სანდო ინფორმაციით უზრუნველყოფს ადგილობრივ კომპანიებს." />

	<link rel="icon" href="/Content/Images/Common/icon.png" />
	<link rel="alternate" hreflang="ka" href="https://www.bia.ge/" />
	<title>ბია - BIA</title>

	<link href="/bundles/Styles/Frameworks/jQueryUI?v=0lUFsAP1wyeURFml1HmExgJeArARH2LQ6TSMzvzzgIo1" rel="stylesheet"/>

	<link href="/bundles/Styles/Tools/Datepicker?v=eXUZ4SR3Z6zN5w9egbVfvgimlVshZckFZURla4tbI6g1" rel="stylesheet"/>

	<link href="/bundles/Styles/Common?v=0NaV46SeWE7BjxxaBtnyYXloNGhZDmr5ilwa_hb78101" rel="stylesheet"/>

	<link href="/bundles/Styles/Pages/_Other/Reklamebi?v=DyToQHK6DuEVpJflqN8bjz2rv4PH0xocXflRv7QrMQI1" rel="stylesheet"/>



<link href="/bundles/Styles/Pages/Parts/Header?v=rHRnW7bprIWI_FADoC2nuaB2sIJ0aYWswDvfiCIRznQ1" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Parts/Header/LogoBar?v=3KTf3iwbK6WDu98QVBNYPRrKehUPgqhDZ6vWz8Cc-gU1" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Parts/Header/MainMenuBar?v=0keOM9fwr4YdAF4g_dZAn2hV9qPaWDlevwm8SEtWEPY1" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Parts/MovingTools/MyBiaSideBar?v=x-if2M2gs4lttdiXjw9fKaRLqjciLJm7jmL9W09_SsU1" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Parts/MovingTools/OnTopScroller?v=TZLP6i85P-EHBD9F677CwJwzGKkKfdcUVdtQJNgN7zM1" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Parts/MovingTools/WelcomePopups?v=gM0qMSy_APnWc-LhMTE_mkX5UmHH8wBOwRhrBpaujA01" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Company/Index?v=nZrbAZ5uqcvvy-HENOXa0vyhWzSIY9WeTOve96-uNK81" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Parts/Footer?v=UxP-x3eAuIF02E7IQVSeU5RhU7S9qZNvLV70AXTY_w41" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Parts/Footer/SocialsBar?v=n5LcdUGcrRQoozy0gHATvA-A2hVWmt7PDFfMiDtYpAI1" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Parts/Footer/CategoriesBar?v=D-RjCfoEnInAlp5EZR4yl397_oOB9x5DvAC5ZxiQ4Dc1" rel="stylesheet"/>
<link href="/bundles/Styles/Shared/FeedbackForm?v=CjFAAlfX8f8vthJShI7ZffyjjP1yL78EScEOb8G-XnU1" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Parts/MovingTools/OnlineChatButton?v=DdPk9kMxSEE8fZoQXqPt7txEdmFOd8hM27lduucHM9w1" rel="stylesheet"/>
<link href="/bundles/Styles/Frameworks/jQueryValidations?v=dZmnDuWAF4_XnS07wESOgxHeK_edeI2YlhvEFa46rPw1" rel="stylesheet"/>
<link href="/bundles/Styles/Shared/E_MailContactForm?v=eLSdMD5mci7b_GSDtevmScn5FP9WJlL2I_KL_EgP2oQ1" rel="stylesheet"/>
<link href="/bundles/Styles/Pages/Parts/MovingTools/TopFixedBar?v=mNZAxOg0u0-EafoitvJcbphrKD1qZR3M4hNFdDFF9ug1" rel="stylesheet"/>



		<script>
			(function (w, d, s, l, i) {
				w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
				var f = d.getElementsByTagName(s)[0]
				var j = d.createElement(s);
				var dl = l != 'dataLayer' ? '&l=' + l : '';
				j.async = true;
				j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
				f.parentNode.insertBefore(j, f);
			})(window, document, 'script', 'dataLayer', 'GTM-M82D7PX');
		</script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
		<div id="fb-root"></div>
			<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<script>
				(adsbygoogle = window.adsbygoogle || []).push({
					google_ad_client: "ca-pub-8563205646449730",
					enable_page_level_ads: true
				});
			</script>


	<div id="Background" class="display-none-important">

					<div id="Background_LogoBar"></div>
					<div id="Background_MainMenuBox"></div>
					<div id="Background_PageContent">

						<div class="background-ad-to-the-center" data-index="1"></div>
					</div>
					<div id="Background_CategoriesBar"></div>

	</div>

	<div id="BodyContent">


<header id="Header">


<div id="LogoBar">
	<table style="width:100%; margin-top: 25px;">
		<tbody>
			<tr style="height:100%">

					<td style="width:106px; border-right: 1px #e0e0e0 solid;"><a class="" href="/" id="BiaLogo" target="_self"> </a></td>


					<td style="width:66px; padding-left:18px; border-right: 1px #e0e0e0 solid;">
						<div class="menu_opener_closed"></div>
					</td>


					<td style="width:80px; padding-left:18px; padding-top:3px;">
						<div id="Languages_Box">
							<span class="display-none-important" data-url="/GE/Company/12585" data-lang="GE"></span>
							<span data-url="/EN/Company/12585" data-lang="EN"></span>
						</div>
					</td>



				<td></td>

					<td style="width:40px; border-right: 1px #e0e0e0 solid;">
						<a id="addNewCompany" href="/Home/CompanyRegistration"></a>
					</td>




				<td id="UserLogo" style="width:60px">
						<div id="NotSignedUserAccountBox_Opener">
							<span class="arrow-pointer display-none"></span>
							<div id="NotAuthenticatedUserAccountBox" class="display-none">
								<div id="RegistrationBox">
									<a href="/Account/Registration">
										<span class="icon"></span>
										<span class="text">რეგისტრაცია</span>
									</a>
								</div>
								<ul id="AccountToolsSeparator">
									<li></li>
									<li class="separator-text">ან</li>
									<li></li>
								</ul>
<form action="/Account/Login?ReturnUrl=%2FCompany%2F12585" autocomplete="off" id="LoginBox" method="post"><input name="__RequestVerificationToken" type="hidden" value="mNPDAtOQEuQe6oManxjbUm9KUv64Yw5KHQ04yNXqsTKeiHwYkXABju33Koas-AC2Gqvh8m9RjWjSKscMsrmuYbbZtQSrB7Sjh6ZvCHAR3m81" />									<div id="UserNameBox">
										<span class="textfield-icon"></span>
										<input Value="" id="Email" name="Email" placeholder="ელ-ფოსტა" type="text" value="" />
									</div>
									<div id="PasswordBox">
										<span class="textfield-icon"></span>
										<input id="Password" name="Password" placeholder="პაროლი" type="password" value="" />
									</div>
									<input id="LoginButton" type="submit" value="" />
									<div id="AccountHelpTools">
										<label id="RememberMeBox" class="tx-light-gray tx-hvr-darker-gray"><label class="checkbox-box "><span class="from-left display-none" data-option="LabelText"></span><input id="RememberMe" name="RememberMe" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" /><div class="checkbox-button"></div></label><span class="from-right" data-option="LabelText">დამიმახსოვრე</span></label>
										<a href="/Account/ResetPassword" id="PasswordResetLink">პრობლემა სისტემაში შესვლისას</a>
									</div>
</form>							</div>
						</div>

				</td>
			</tr>
		</tbody>
	</table>
</div>

	<ul id="MainMenuItemsList" class="display-none-important">
		<li><a href="/">მთავარი</a></li>
		<li><a href="/Home/AboutUs">ჩვენ შესახებ</a></li>
		<li><a href="/News">სიახლეები</a></li>
		<li><a href="/Analytics">ანალიტიკა</a></li>
		<li><a id="ProductsBarLink" href="/#ProductsBar">პროდუქტები</a></li>

		<li></li>

		<li><a href="/Home/Contact">კონტაქტი</a></li>

		<li></li>
	</ul>


</header>

		<div id="PageContent">




<span class="visit-company-date" visit-date-data="04/12/2024 01:14:48"></span>
<span id="runner" style="display: none;"></span>
<span class="visit-company-type" visit-type-data="ByClick"></span>
<span class="search-service-category"></span>
<span class="search-service"></span>
<span class="isfavorite-status" favorite-data="0"></span>
<form id="log_company_visit_form" action="/WebStatistics/LogCompanyVisit?companyid=12585&amp;VisitCompanyType=ByClick" method="post" autocomplete="off">
	<input name="__RequestVerificationToken" type="hidden" value="tNNLJpGubHg02fUqsZ8NI756OEVCPbwjdv_I7v49Rs4g1-7QzKZa8StY4i2hZ_XEqbuZBGZ0JuWQF_gMvPwtQvvRsLGpN1VkQ8BPoaIr_KQ1" />
</form>
<span class="login-message" data-attr="ოპერაციის შესასრულებლად გთხოვთ გაიაროთ ავტორიზაცია"></span>
<div class="login-url" data-url="/Account/Login?ReturnURL=%2FCompany%2F12585%3FVisitCompanyType%3D1"></div>
<span class="authenticated-user" data-attr=""></span>

<div id="ImageRemovingPattern" data-title="ნამდვილად გსურთ ამ სურათის წაშლა?"></div>

<input id="company_id" name="company_id" type="hidden" value="12585" />
<div id="CoverBarBox">
	<div id="CoverBar" data-usage="Background" style="background-image: url(&#39;https://www.bia.ge/CompanyMedia.ashx?Id=8130.png&#39;);">
	</div>

	<div id="CompanyStatusBox" class="display-none-important"></div>
</div>

<div id="TitleBarBox">
	<div id="TitleBar">
		<div id="LogoImageUploaderBox" class="" data-option="ImageUploader" data-usage="Background" style="background-image: url(&#39;https://www.bia.ge/CompanyMedia.ashx?Id=8231.png&#39;);">
		</div>
						<div id="CompanyNameBox" class="">ბია</div>


		<div id="TrademarksBox">

				<span class="list-item with-tooltip" data-title="ბიზნეს ინფორმაციის სააგენტო">ბიზნეს ინფორმაციის ს...;</span>
				<span class="list-item" data-title="">ბია;</span>
				<span class="list-item" data-title="">ბია ფორუმი</span>
		</div>

		<div id="CompanyFillingStars" class="with-tooltip" data-title="98.53%">
			<div class="star lighted"></div>
			<div class="star lighted"></div>
			<div class="star lighted"></div>
			<div class="star lighted"></div>
			<div class="star lighted"></div>
			<div class="star lighted"></div>
			<div class="star "></div>
		</div>



			<div id="AghadgineMedalion">
				<div class="highlighted-text">ბორჯომის ტყეში აღადგინა<span>5000 ხე!</span></div>
			</div>

		<a id="RatingBox" href="#Estimation">
			<div class="average rating-stars">
				<span class="average-rate-info" avg-rate-point="5"></span>

					<div class="rating-star not-rated rate"></div>
					<div class="rating-star not-rated rate"></div>
					<div class="rating-star not-rated rate"></div>
					<div class="rating-star not-rated rate"></div>
					<div class="rating-star not-rated rate"></div>
			</div>
			<div class="text">შეაფასე კომპანია</div>
		</a>
			<form id="Add_To_Favorites" action="/MyBia/AddToFavorites" method="post" autocomplete="off">
				<input name="__RequestVerificationToken" type="hidden" value="bf76mm21-8EJdCfZ0SjV85jW7FeIwgscfWA-T5Tv9JAxpjsQv5sZhiBFYfrZuzvsozpGGuXgzszxo-xNXIRE8o7FZ9unmJIR0obBkszR6ew1" />
			</form>
			<form id="Delete_From_Favorites" action="/MyBia/UnFavorite" method="post" autocomplete="off">
				<input name="__RequestVerificationToken" type="hidden" value="7aHv7ZAQ-33TeUMBaDCGhXgwnJLHpQTl1kv9ZJ06Ua58PxdLP9XgQY_xl14VNB242zBJx6C5pkQbcJikQ5fyb7BetnQqjg6kH-oeCgNEvnw1" />
			</form>
			<span class="add-to-favorites-text" data-attr="რჩეულებში დამატება"></span>
			<span class="delete-favorites-text" data-attr="რჩეულებიდან ამოშლა"></span>
				<div class="add-to-favorites favorite-button">რჩეულებში დამატება</div>


		<div id="ContactsTopBar">
					<a class="social-link icon-facebook" href="http://ka-ge.facebook.com/BIA.BusinessInformationAgency/" target="_blank"></a>
											<a class="social-link icon-linkedin" href="http://www.linkedin.com/company/3149664?trk=prof-exp-company-name" target="_blank"></a>
								<a class="social-link icon-youtube" href="https://www.youtube.com/channel/UC3mytJCNtD8UH4oQccgcc-g" target="_blank"></a>
		</div>
	</div>
</div>

<ul id="TabPanelMenu">
	<li id="tpmiAboutCompany" class="menu-item selected" data-reference-tab-panel="tpAboutCompany">
		<span class="icon"></span>
		<span class="text">კომპანიის შესახებ</span>
	</li>
	<li id="tpmiManagement" class="menu-item" data-reference-tab-panel="tpManagement">
		<span class="icon"></span>
		<span class="text">მენეჯმენტი</span>
	</li>
	<li id="tpmiMarketing" class="menu-item" data-reference-tab-panel="tpMarketing">
		<span class="icon"></span>
		<span class="text">მარკეტინგი</span>
	</li>
	<li id="tpmiFinance" class="menu-item" data-reference-tab-panel="tpFinance">
		<span class="icon"></span>
		<span class="text">ფინანსები</span>
	</li>
		<li id="tpmiPRExchange" class="menu-item" data-reference-tab-panel="tpPRExchange">
			<span class="icon"></span>
			<span class="text">ონლაინ პრესა</span>
		</li>
</ul>
<div id="TabPanelBox">
	<ul id="TabPanel">
		<li id="tpAboutCompany" class="tab-panel">



<table class="two-columns-data-list"><tbody>

<tr><td>	<span class="data-title">სავაჭრო მარკები:</span>
		<ul id="TrademarksListBox" class="data-list">
				<li>ბიზნეს ინფორმაციის სააგენტო</li>
				<li>ბია</li>
				<li>ბია ფორუმი</li>
		</ul>
</td><td>	<span class="data-title">ბრენდები:</span>
		<span class="data-list clear-none">არ აქვს</span>
</td></tr>
<tr><td>
<span class="data-title">სამართლებრივი ფორმა:</span>
<span class="data-list">ს.ს. (სააქციო საზოგადოება)</span>
</td>

<td>	<span class="data-title">საიდენტიფიკაციო კოდი:</span>
	<span class="data-list clear-none">404447354</span>
</td></tr><tr><td>
<span class="data-title">რეგისტრაციის ნომერი:</span>
<span class="data-list clear-none"></span>
</td>


<td>
<span class="data-title">რეგისტრაციის თარიღი:</span>
<span class="data-list clear-none">30/05/2013</span>
</td></tr>



<tr><td>
<span class="data-title">მარეგისტრ. ორგანო:</span>
<span class="data-list clear-none">სსიპ საჯარო რეესტრის ეროვნული სააგენტო</span>
</td>


<td>
<span class="data-title">იურიდიული მისამართი:</span>
<span class="data-list clear-none">0179, თბილისი, ვაკე-საბურთალოს რაიონი, მ. კოსტავას ქ. 47/57</span>
</td></tr>

<tr><td>
<span class="data-title">სტატუსი:</span>
<span class="data-list clear-none">ფუნქციონირებადი</span>
</td>

<td>		<span class="data-title">სამუშაო საათები:</span>
		<ul class="data-list">
					<li>ორშაბათი - პარასკევი: 09:30 - 18:30</li>
		</ul>
</td></tr>
</tbody></table>


<ul class="one-column-data-list">
	<li class="separator-dashed-line"></li>
	<li>
		<span class="data-title">პროდუქტები:</span>
			<ul class="data-list">
					<li>სერვისი - ბიზნეს საკონსულტაციო მომსახურება</li>
					<li>სერვისი - ბიზნესის განვითარებასთან დაკავშირებული საკონსულტაციო მომსახურებები</li>
					<li>სერვისი - ბიზნესსა და მენეჯმენტთან დაკავშირებული საკონსულტაციო მომსახურებები</li>
					<li>სერვისი - იმეილ მარკეტინგი (მეილის დაგზავნის სერვისი პირდაპირ სამიზნე ჯგუფთან)</li>
					<li>სერვისი - მარკეტინგული მომსახურებები</li>
					<li>სერვისი - მონაცემთა ბაზებთან მუშაობა (საქართველოში მოქმედი აქტიური კომპანიების მუდმივად განახლებადი ონლაინ მონაცემთა ბაზა)</li>
					<li>სერვისი - მონაცემთა მართვა</li>
					<li>სერვისი - სარეკლამო მომსახურებები (რეკლამა ბიას პლატფორმაზე. ბიას უნიკალური პლატფორმის საშუალებით, რეკლამის განთავსება შესაძლებელია სამიზნე ჯგუფისთვის)</li>
			</ul>
			<div class="show-more-less-link-button">იხილეთ მეტი >></div>
	</li>
		<li class="separator-dashed-line"></li>
		<li>
			<span class="data-title">საქმიანობის კატეგორიები:</span>
				<ul class="data-list">
						<li><a href="/Company/IndustryCategory/65">მასმედია, რეკლამა და პოლიგრაფია</a></li>
						<li><a href="/Company/IndustryCategory/68">საკონსულტაციო მომსახურება</a></li>
				</ul>
				<div class="show-more-less-link-button">იხილეთ მეტი >></div>
		</li>
	<li class="separator-dashed-line"></li>
	<li id="ServicesListBox">
		<span class="data-title">საქმიანობის სფერო:</span>
			<ul class="data-list">
					<li>
						<a href="/Company/Industry/2692">საინფორმაციო სამსახურები</a>
					</li>
					<li>
						<a href="/Company/Industry/2678">საინფორმაციო სააგენტოები, ბიუროები, ცენტრები</a>
					</li>
					<li>
						<a href="/Company/Industry/4961">მონაცემთა ბაზებთან დაკავშირებული საქმიანობა</a>
					</li>
					<li>
						<a href="/Company/Industry/5051">ონლაინ პლატფორმა</a>
					</li>
					<li>
						<a href="/Company/Industry/2727">საკონსულტაციო მომსახურება</a>
					</li>
					<li>
						<a href="/Company/Industry/2724">მარკეტინგული კვლევები და კონსულტაცია</a>
					</li>
			</ul>
			<div class="show-more-less-link-button">იხილეთ მეტი >></div>
	</li>
	<li class="separator-dashed-line"></li>
	<li>
		<span class="data-title">ეროვნული კლასიფიკატორები (NACE 2004):</span>
			<ul class="data-list">
					<li>მონაცემთა ბაზებთან დაკავშირებული საქმიანობა (72.4)</li>
					<li>საინფორმაციო სააგენტოების საქმიანობა (92.4)</li>
			</ul>
			<div class="show-more-less-link-button">იხილეთ მეტი >></div>
	</li>
	<li class="separator-dashed-line"></li>
	<li>
		<span class="data-title">ეროვნული კლასიფიკატორები (NACE 2016):</span>
			<ul class="data-list">
					<li>საინფორმაციო მომსახურების სხვა საქმიანობები, სხვა დაჯგუფებებში ჩაურთველი (63.99.0)</li>
			</ul>
			<div class="show-more-less-link-button">იხილეთ მეტი >></div>
	</li>
		<li class="separator-dashed-line"></li>
		<li>
			<span class="data-title">აღწერილობა:</span>
			<span class="data-list">ბია პირველი ქართული კომპანიაა, რომელიც ბიზნეს ინფორმაციის დამუშვებასა და გავრცელებას ემსახურება. ბია მართავს საქართველოში რეგისტრირებული კომპანიების ყველაზე დიდ და მუდმივად განახლებად ორენოვან ონლაინ მონაცემთა ბაზას, რომელიც მოიცავს ინფორმაციას საქართველოში ეკონომიკურად აქტიურ 41 000-ზე მეტ იურიდიულ სუბიექტზე. გარდა ამისა, ბიას ქართულ კომპანიებს სთავაზობს ბიზნეს კონსულტაციას ინვესტიციების მოზიდვის, ახალი საექსპორტო ბაზრების ათვისების, გაყიდვების ზრდის და სხვა მრავალი მიმართულებით.
ბია ქართული საწარმოების შესახებ ბიზნეს ინფორმაციას აწვდის უმსხვილეს, მსოფლიო დონის პარტნიორებს და საერთაშორისო პარტნიორების მეშვეობით, სანდო ინფორმაციით უზრუნველყოფს ადგილობრივ კომპანიებს.</span>
		</li>
	<li class="separator-dashed-line"></li>
	<li>
		<span class="data-title">ფილიალები:</span>
			<span class="data-list clear-none">არ აქვს</span>
	</li>
	<li class="separator-dashed-line"></li>
	<li>
		<span class="data-title">სერვის-ცენტრები:</span>
			<span class="data-list clear-none">არ აქვს</span>
	</li>

	<li class="separator-dashed-line"></li>
	<li>
		<span class="data-title">ტენდერები:</span>
			<span class="data-list clear-none">არ აცხადებს ტენდერებს</span>
	</li>

	<li>
		<span class="data-title">ტენდერების ისტორია:</span>
			<span class="data-list clear-none">არ აცხადებს ტენდერებს</span>
	</li>


		<li class="separator-dashed-line"></li>
		<li><div class="fb-comments" data-href="https://bia.ge/Company/Index/12585" data-width="650" data-numposts="5"></div></li>
		<li class="separator-dashed-line"></li>
		<li id="Estimation"><span class="data-title">შეაფასეთ კომპანია:</span></li>
		<li>
			<div class="rate-points">
				<form id="rate_company_Form" action="/Company/RateCompany?RatedEntityId=12585"></form>
				<input name="__RequestVerificationToken" type="hidden" value="ocyKIXPA82ORaOE_H9dP933hoCZQU0VT_ZUMaVaHvX8ycW8aAPo4C-pf3zt4aUcSvb4ncTSTLiBZ4K0iu95WN2j5Wh-F8LfqeqskQNEDVAc1" />
				<span class="rate-info" current-user-rate-point="0"></span>
					<div class="rating-point not-rated" rate-value="1"></div>
					<div class="rating-point not-rated" rate-value="2"></div>
					<div class="rating-point not-rated" rate-value="3"></div>
					<div class="rating-point not-rated" rate-value="4"></div>
					<div class="rating-point not-rated" rate-value="5"></div>
			</div>
		</li>
		<li>
			<div class="reviews" id="rev_stars">

					<div>
							<div>
									<div class="rated-point"></div>
								<span>- 0</span>
							</div>
							<div>
									<div class="rated-point"></div>
									<div class="rated-point"></div>
								<span>- 0</span>
							</div>
							<div>
									<div class="rated-point"></div>
									<div class="rated-point"></div>
									<div class="rated-point"></div>
								<span>- 0</span>
							</div>
							<div>
									<div class="rated-point"></div>
									<div class="rated-point"></div>
									<div class="rated-point"></div>
									<div class="rated-point"></div>
								<span>- 0</span>
							</div>
							<div>
									<div class="rated-point"></div>
									<div class="rated-point"></div>
									<div class="rated-point"></div>
									<div class="rated-point"></div>
									<div class="rated-point"></div>
								<span>- 12</span>
							</div>
					</div>

			</div>

		</li>

</ul>
		</li>
		<li id="tpManagement" class="tab-panel display-none">


<div class="not-access-text">
	<span class="title">გსურთ მიიღოთ სრული ინფორმაცია კომპანიის შესახებ?</span>

	<br /><br />

	<b>დაგვიკავშირდით:</b> <a href="mailto:aarjevanidze@bia.ge">aarjevanidze@bia.ge</a>

	<br /><br />

	<b>თქვენ შეგიძლიათ მოიძიოთ შემდეგი სახის ინფორმაცია კომპანიის მენეჯმენტის შესახებ:</b>

	<br /><br />

	<ul>
		<li>გაიგეთ ვინ არიან კომპანიაში საკონტაქტო პირები, ზედა და შუა რგოლის მენეჯერები,  დირექტორები და მიიღეთ მათი საკონტაქტო ინფორმაცია (ტელეფონი, ელ.ფოსტა, პირადი ნომერი, სახელი, გვარი, პოზიცია)</li>
		<li>თანამშრომლების საშუალო ასაკი და გენდერული განაწილება</li>
		<li>ჰყავს თუ არა მშობელი კომპანია/ები და ვინ არიან ისინი?</li>
		<li>ჰყავს თუ არა შვილობილი კომპანიები?</li>
		<li>ვინ არიან კომპანიის დამფუძნებლები? დამფუძნებელი ქვეყანა, საიდენტიფიკაციო ნომერი, წილი %</li>
	</ul>
</div>		</li>
		<li id="tpMarketing" class="tab-panel display-none">


<div class="not-access-text">
	<span class="title">გსურთ მიიღოთ სრული ინფორმაცია კომპანიის შესახებ?</span>

	<br /><br />

	<b>დაგვიკავშირდით:</b> <a href="mailto:aarjevanidze@bia.ge">aarjevanidze@bia.ge</a>

	<br /><br />

	<b>თქვენ შეგიძლიათ მოიძიოთ შემდეგი სახის ინფორმაცია კომპანიის მენეჯმენტის შესახებ:</b>

	<br /><br />

	კომპანიის ზომა
	<br />
	თანამშრომლების რაოდენობა შტატში
	<br />
	დროებითი თანამშრომლების რაოდენობა
	<br />
	ფილიალების რაოდენობა
	<br />
	სერვის-ცენტრების რაოდენობა

	<br /><br />

	<ul>
		<li>ფლობს თუ არა კომპანიას ხარისხის სერტიფიკატებს?</li>
		<li>რომელი მობილური კავშირი ემსახურება?</li>
		<li>რომელი ინტერნეტ კავშირის მომსახურებით სარგებლობს?</li>
		<li>ჰყავს თუ არა მომსახურე ნავთობ კომპანია? რა ტიპის საწვავს მოიხმარს და რა ოდენობით?</li>
		<li>რომელი ბანკების მომსახურებით სარგებლობს?</li>
		<li>სარგებლობს თუ არა სადაზღვევო კომპანიის მომსახურებით და რა ტიპის დაზღვევას იყენებს?</li>
		<li>იყენებს თუ არა იურიდიული, საბუღალტრო, აუდიტორული თუ საკონსულტაციო კომპანიების მომსახურებას და ვინ არიან ეს კომპანიები?</li>
		<li>რომელ სარეკლამო კომპანიასთან თანამშრომლობს?</li>
		<li>იღებს თუ არა ტენდერებში მონაწილეობას?</li>
		<li>ახორციელებს თუ არა იმპორტს ან ექსპორტს და რომელ ქვეყნებში?</li>
		<li>ვინ არიან კომპანიის ადგილობრივი პარტნიორები?</li>
		<li>ჰყავს თუ არა უცხოელი პარტნიორები?</li>
		<li>ადგილობრივი თუ უცხოელი მომწოდებლები</li>
		<li>ადგილობრივი თუ უცხოელი დისტრიბუტორი</li>
		<li>ადგილობრივი თუ უცხოელი დილერები</li>
	</ul>


</div>		</li>
		<li id="tpFinance" class="tab-panel display-none">


<div class="not-access-text">
	<span class="title">გსურთ მიიღოთ სრული ინფორმაცია კომპანიის შესახებ?</span>

	<br /><br />

	<b>დაგვიკავშირდით:</b> <a href="mailto:aarjevanidze@bia.ge">aarjevanidze@bia.ge</a>

	<br /><br />

	<b>თქვენ შეგიძლიათ მოიძიოთ შემდეგი სახის ინფორმაცია კომპანიის მენეჯმენტის შესახებ:</b>

	<br /><br />

	<ul>
		<li>საწესდებო კაპიტალი</li>
		<li>ბრუნვის დიაპაზონი</li>
		<li>არის თუ არა კომპანია დღგ–ს გადამხდელი?</li>
		<li>მენეჯმენტის საშუალო ხელფასი</li>
		<li>თანამშრომლების საშუალო ხელფასი</li>
		<li>კორპორატიული ავტომობილების რაოდენობა</li>
		<li>ბალანსზე არსებული კომპიუტერების რაოდენობა</li>
		<li>გააჩნია თუ არა კომპანიას საოფისე ფართი? კვადრატულობა ჯამურად</li>
		<li>აქვს თუ არა სასაწყობე ფართი? კვადრატულობა ჯამურად</li>
		<li>სასოფლო–სამეურნეო მიწა ჯამურად</li>
		<li>არასასოფლო–სამეურნეო მიწა ჯამურად</li>
		<li>კომპანიის წლიური ანგარიში</li>
		<li>აუდიტორული დასკვნა</li>
		<li>სხვა მიმაგრებული ფაილები</li>
	</ul>
</div>		</li>
			<li id="tpPRExchange" class="tab-panel display-none">


<div id="PrExchangeContent" class="pr-exchange-content">
	<div id="prexchangeProccessing" class="prexchange-proccessing">
		<p>
			<img src="/Content/Images/Common/loader.gif" />
		</p>
	</div>
</div>


			</li>
	</ul>

	<div id="TabPanelRightSideBar">







		<div id="ContactsBox">
			<span class="title">საკონტაქტო ინფორმაცია</span>


<form id="E_MailContactForm" autocomplete="off" data-form-link="/Shared/MailTo" data-close-title="დახურვა" data-send-button-text="გაგზავნა">
	<div class="form-content">
		<input name="__RequestVerificationToken" type="hidden" value="lE3TGlDwWzUf4zErE4DDwCOYz9AV6MokECgsmCk2V1XRekAZfmvlwSVwzep4jllVYGsznxqG6D4ZKke30B2YT7ib7QNPQ_gIQ0cyqYsp4Tw1" />
		<input id="EntityTypeId" name="EntityTypeId" type="hidden" value="IsNotSelected" />
		<input data-val="true" data-val-number="The field EntityId must be a number." id="EntityId" name="EntityId" type="hidden" value="0" />

		<label><span class="from-left" data-option="LabelText">თქვენი სახელი</span><input id="SenderName" name="SenderName" type="text" value="" /></label>
		<label><span class="from-left" data-option="LabelText">თქვენი ელ-ფოსტა</span><input data-val="true" data-val-email="The SenderMail field is not a valid e-mail address." data-val-required="The SenderMail field is required." id="SenderMail" name="SenderMail" type="email" value="" /></label>
		<label style="width:100%;"><span class="from-left" data-option="LabelText">თემა</span><input data-val="true" data-val-length="The field Subject must be a string with a maximum length of 256." data-val-length-max="256" id="Subject" name="Subject" type="text" value="" /></label>
		<label><span class="from-left" data-option="LabelText">ტექსტი</span><textarea cols="20" id="Body" name="Body" rows="2">
</textarea></label>

		<div style="margin-bottom:15px; width:100%;">
			<label class="i-agree-label" style="font-size:15px; color:#111110"><input class="i-agree-checkbox" id="IAgree" name="IAgree" type="checkbox" value="true" /><input name="IAgree" type="hidden" value="false" /> ვეთანხმები <a id="AgreementConditions" target="_blank" href="/Home/TermsAndConditions"> გამოყენების პირობებს</a> </label>
		</div>

		<div class="g-recaptcha" data-sitekey="6LePxCgUAAAAAL3zcWBnplVPXRmzvdqlCXP1ExA6" data-size="350"></div>

	</div>
	<div class="form-success-message display-none-important"><span class="text"></span><div class="button-close">დახურვა</div></div>
	<div class="form-failure-message display-none-important"><span class="text"></span><div class="button-retry">ხელახლა ცდა</div></div>


</form>

			<table class="body">

				<tbody>
					<tr>
						<td class="data-icon"><img class="with-tooltip" data-title="მისამართი" src="/Content/Images/Pages/Company/Index/icon-location.png" /></td>
						<td class="data-list">
							<span style="display:block; width:190px; word-wrap:break-word;">
								0171, თბილისი, ვაკე-საბურთალოს რაიონი, ალექსიძე მერაბის ქ. 3
							</span>
						</td>
					</tr>
						<tr>
							<td class="data-icon"><img class="with-tooltip" data-title="ტელეფონი" src="/Content/Images/Pages/Company/Index/icon-phone.png" /></td>
							<td class="data-list">
								<span style="display:block; width:190px; word-wrap:break-word;">
										<a href="tel:+995322195555">+995 32 2195555</a>
								</span>
							</td>
						</tr>
																					<tr>
							<td class="data-icon"><img class="with-tooltip" data-title="ვებ-საიტი" src="/Content/Images/Pages/Company/Index/icon-link-cursor.png" /></td>
							<td class="data-list">
								<span style="display:block; width:190px; word-wrap:break-word;">
											<a href="http://www.bia.ge/" target="_blank">http://www.bia.ge</a>
,<br />											<a href="http://www.biaforum.ge/" target="_blank">http://www.biaforum.ge</a>
								</span>
							</td>
						</tr>
				</tbody>
				<tfoot>
					<tr><td></td><td></td></tr>
					<tr><td></td><td></td></tr>
					<tr>
						<td colspan="2">
							<div colspan="2" class="data-button e-mail-contact-form-opener" data-entity-type-id="1" data-entity-id="12585" data-form-title="გაუგზავნეთ მეილი კომპანიას (ბია)">
								<span class="data-button-icon-box"><span class="data-button-icon"></span></span>
								მიწერე კომპანიას
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>









	</div>
</div>

<div id="LastUpdateDate">ბოლო განახლების თარიღი: <span>14/11/2024</span></div>

<div style="margin-left:47px;">






</div>


</div>



<footer id="Footer">



<div id="CategoriesBar">
	<div id="BiaLogo_InFooter"></div>

	<div id="CompaniesTotalCountBoxFooter">ბიზნეს ინფორმაცია <span style="font-weight:bold; font-size:22px;">64, 863</span> აქტიურ კომპანიაზე</div>


	<ul class="footer-line"></ul>

	<table style="width:100%">
		<tbody>
			<tr style="vertical-align:top">
				<td style="width:25%">
					<ul class="categories-list">
						<li class="footer-li-title">ჩვენ შესახებ</li>
						<li class="footer-li-content"><a href="/Home/AboutUs">ჩვენი გუნდი</a></li>
						<li class="footer-li-content"><a href="/News">სიახლეები</a></li>
						<li class="footer-li-content"><a href="/Analytics">ანალიტიკა</a></li>
						<li class="footer-li-content"><a href="https://www.follower.ge/">Follower</a></li>

						<li class="footer-li-title">რეგისტრაცია</li>
						<li class="footer-li-content"><a href="/Home/CompanyRegistration">დაამატე კომპანია უფასოდ</a></li>
						<li class="footer-li-content"><a href="/MyBia/Companies">განაახლე კომპანია</a></li>
					</ul>
				</td>
				<td style="width:25%">
					<ul class="categories-list">
						<li class="footer-li-title">სერვისები</li>
						<li class="footer-li-content"><a href="/Home/BusinessInformation">წვდომა ბიზნეს ინფორმაციაზე</a></li>
						<li class="footer-li-content"><a href="/Home/MarketingList">მარკეტინგული სია</a></li>
						<li class="footer-li-content"><a href="/Home/EmailMarketing">Email მარკეტინგი</a></li>
						<li class="footer-li-content"><a href="/Home/Consulting">საკონსულტაციო მომსახურება</a></li>
						<li class="footer-li-content"><a href="#">რეკლამა ბიაში</a></li>
					</ul>
				</td>
				<td style="width:20%; border-right: 1.45px #3d3d3d solid; border-image: linear-gradient(to bottom, rgba(108,219,141,0) 15%,rgba(61, 61, 61, 1) 5%,rgba(61, 61, 61, 1) 95%,rgba(108,219,141,0) 85%); border-image-slice: 1;">
					<ul class="categories-list">
						<li class="footer-li-title">საკონტაქტო</li>
						<li class="footer-li-content"><a href="/Home/Contact">მ.ალექსიძის N3</a></li>
						<li class="footer-li-content"><a>+995 32 219 55 55</a></li>
						<li class="footer-li-content"><a href="mailto:info@bia.ge">info@bia.ge</a></li>
					</ul>
				</td>
				<td style="width:30%; padding-left:30px;">
					<ul class="categories-list">
						<li class="footer-li-title">გამოიწერე სიახლეები</li>


						<li>

							<div id="newsletter-box">
								<span class="newsletter-box-icon"></span>
								<input type="email" class="form-text-box newsletter-input-box" placeholder="E-mail" data-link='/Shared/SaveSubscriber' />
							</div>

						</li>

						<li class="footer-li-title"></li>

						<li class="footer-li-title">
							<table style="width:100%">
								<tbody>
									<tr>
										<td style="vertical-align:bottom; width:38%">
											შემოგვიერთდი
										</td>
										<td>
											<div id="SocialsBar">
												<div id="SocialsIcons">
													<a class="icon-youtube" href="https://www.youtube.com/channel/UC3mytJCNtD8UH4oQccgcc-g" target="_blank"></a>
													<a class="icon-linkedin" href="https://www.linkedin.com/company/bia---business-information-agency" target="_blank"></a>
													<a class="icon-twitter" href="https://twitter.com/BiaAllianceG" target="_blank"></a>
													<a class="icon-facebook" href="https://www.facebook.com/BIA.BusinessInformationAgency/" target="_blank"></a>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table>

						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<ul class="footer-line"></ul>


	<div class="info-text">&#169; 2017 ბია &#171;ბიზნეს ინფორმაციის პროვაიდერი&#187;</div>
	<div class="terms-and-faq">
		<div class="data-button feedback-form-opener" data-form-title="Feedback">
			<span class="data-button-icon-box"><span class="data-button-icon"></span></span>
			უკუკავშირი
		</div>
		<a href="/Home/FAQ">ხშირად დასმული კითხვები</a>
		<a href="/Home/TermsAndConditions">გამოყენების პირობები</a>
	</div>




<form id="FeedbackForm" autocomplete="off" data-form-link="/Home/SendFeedback" data-close-title="დახურვა" data-send-button-text="გაგზავნა">
	<div class="form-content">
		<input name="__RequestVerificationToken" type="hidden" value="FmkjDVGPhZQArd-tFpWaFgB3CqLoeqVGUu0A_AvDojsgOPcVxidtVpAhE0XAjVi0oAcVjjG_JwXyl3gfk5180hMXRaeTv6RJTO9wqMQC_lU1" />

		<label><span class="from-left" data-option="LabelText">თქვენი სახელი</span><input id="SenderName" name="SenderName" type="text" value="" /></label>
		<label><span class="from-left" data-option="LabelText">თქვენი ელ-ფოსტა</span><input data-val="true" data-val-email="The SenderMail field is not a valid e-mail address." data-val-required="The SenderMail field is required." id="SenderMail" name="SenderMail" type="email" value="" /></label>
		<label><span class="from-left" data-option="LabelText">თემა</span><input data-val="true" data-val-length="The field Subject must be a string with a maximum length of 256." data-val-length-max="256" id="Subject" name="Subject" type="text" value="" /></label>
		<label><span class="from-left" data-option="LabelText">ტექსტი</span><textarea cols="20" id="Body" name="Body" rows="2">
</textarea></label>
	</div>
	<div class="form-success-message display-none-important"><span class="text"></span><div class="button-close">დახურვა</div></div>
	<div class="form-failure-message display-none-important"><span class="text"></span><div class="button-retry">ხელახლა ცდა</div></div>
</form>
</div>
</footer>



<div id="MovingTools">



<div id="Welcomepopup1Modal" class="welcomepopup1">
	<div id="ModalContentCloserPopups" class="modal-content-closer-popup"></div>
	<div class="popup-modal-content1">
		<img src="/Content/Images/Pages/Parts/MovingTools/Welcomepopups/icon.png" />
			<div style="width:100%; display:inline-block; padding:15px 20px 0 0">
				<span style="font-size:32px; text-transform:capitalize; font-family:arial_caps; margin-left:210px;">მოგესალმებით</span>
				<span style="font-size:28px; padding-left:8px;">www.bia.ge-ზე</span>

				<span style="font-size:19px; display:inline-block; font-weight:bold; padding-top:10px; margin-left:210px;">ჩვენს ვებგვერდზე შეგიძლიათ მოიძიოთ</span>
				<span style="font-size:19px; display:inline-block; font-weight:bold; padding-top:5px; margin-left:210px;">ინფორმაცია 64 000 - ზე მეტი კომპანიის შესახებ</span>
				<br />
				<span style="border-bottom:2px solid #cacaca; width:230px; display:inline-block; padding-top:25px; margin-left:320px;"></span>

				<span style="font-size:18px; display:inline-block; padding-top:30px; margin-left:110px;">სასურველი ინფორმაციის მისაღებად, ისარგებლეთ </span>
				<span style="font-size:18px; font-weight:bold;"><a class="" href="/"> საძიებო სისტემით <img style="position:relative; top:4px; left:6px;" src="/Content/Images/Pages/Parts/MovingTools/Welcomepopups/arrow_black.png" /></a></span>

				<span style="font-size:18px; display:inline-block; padding-top:20px; margin-left:270px;">ან იხილეთ კომპანიების </span>
				<span style="font-size:18px; font-weight:bold;"><a style="color:#dda64c;" href="/MarketingList/Calculate"> სრული სია <img style="position:relative; top:4px; left:6px;" src="/Content/Images/Pages/Parts/MovingTools/Welcomepopups/arrow_orange.png" /></a></span>

			</div>
	</div>
</div>

<div id="Welcomepopup2Modal" class="welcomepopup2">
	<div id="ModalContentCloserPopups" class="modal-content-closer-popup"></div>
	<div class="popup-modal-content2">
			<div style="width:100%; display:inline-block; padding:35px 20px 0 0">
				<span style="font-size:28px; font-weight:bold; letter-spacing:1.5px; text-transform:capitalize; font-family:arial_caps; margin-left:330px; display:inline-block;">ბიას  ვებგვერდს</span>
				<span style="font-size:28px; padding-top:10px; font-weight:bold; text-transform:capitalize; font-family:arial_caps; margin-left:190px; display:inline-block;">ონლაინ  ყიდვის  ფუნქცია  დაემატა!</span>

				<span style="font-size:18px; display:inline-block; padding-top:15px; margin-left:140px;">გაფილტრე შენი სეგმენტი <b>64 000</b> - ზე მეტი აქტიური კომპანიიდან და</span>
				<span style="font-size:18px; display:inline-block; padding-top:6px; margin-left:180px;">გადმოტვირთე შენთვის სასურველი ინფორმაცია <b>2 წუთში</b></span>

				<a href="/MarketingList/Calculate"><div class="create-list">შექმენი სია</div></a>
			</div>
	</div>
</div>

<div id="TopFixedBar">
	<div>
		<a href="/" id="BiaLogo_topFixed" target="_self"> </a>
	</div>

<form action="/Company/Search" autocomplete="off" id="SearchBar_InTopFixedBar" method="post"><input name="__RequestVerificationToken" type="hidden" value="J3A0m33CI6L6dth9C6p3yVjWF6VN1tbdSMa9OvTZn0h89N_OX4Eb3FtKGPRVxRBvKyL4mgKEE4szcctrcoxofgYqZ2TsDCiwRURlLHHHzpM1" />		<div class="search-box"><div class="autocomplete-box"><input data-destination="ReferenceId" data-usage="value" id="Id" name="Id" type="hidden" value="12585" /><input autocomplete="off" class="form-text-box autocomplete " data-destination="ReferenceValue" data-entity="SearchBar_InTopFixedBar" data-params="{}" data-url="/Shared/GetCompaniesForMainSearch?SortByOnlyStatusAndName=False" data-usage="text" id="topfixsearchbar" name="Filter.Query" placeholder="მოიძიეთ კომპანია" type="text" value="" /></div></div>
		<input type="submit" value="" />
<a class="industry-categories-link" href="/Company/IndustryCategories"> </a></form>
	<a id="CompanyRegistrationLinkBox" href="/Home/CompanyRegistration"></a>
</div>

<div id="MyBiaSideBar">

	<div class="Mybia-logo">

	</div>

	<ul class="Mybiamenulist">
		<li>
			<a href="/Mybia">
				<div class="Mybialist-item">
					<div class="mybialist-item-img my-account"></div>
					<div class="mybialist-item-text">ჩემი ანგარიში</div>
				</div>
			</a>
		</li>

		<li></li>

		<li>
			<a href="/Mybia/Companies">
				<div class="Mybialist-item">
					<div class="mybialist-item-img my-companies"></div>
					<div class="mybialist-item-text">ჩემი კომპანიები</div>
				</div>
			</a>
		</li>

		<li></li>

		<li>
			<a href="/Mybia/Favorites">
				<div class="Mybialist-item">
					<div class="mybialist-item-img favorite-companies"></div>
					<div class="mybialist-item-text">რჩეული კომპანიები</div>
				</div>
			</a>
		</li>

		<li></li>

		<li>
			<a href="/Mybia/Notes">
				<div class="Mybialist-item">
					<div class="mybialist-item-img my-records"></div>
					<div class="mybialist-item-text">ჩანაწერები</div>
				</div>
			</a>
		</li>

		<li></li>

		<li>
			<a href="/Mybia/Cart">
				<div class="Mybialist-item">
					<div class="mybialist-item-img cart"></div>
					<div class="mybialist-item-text">კალათა</div>
				</div>
			</a>
		</li>

		<li></li>


		<li>
			<a href="/Mybia/Orders">
				<div class="Mybialist-item">
					<div class="mybialist-item-img orders"></div>
					<div class="mybialist-item-text">შეკვეთები</div>
				</div>
			</a>
		</li>

		<li></li>


		<li>
			<a href="/Mybia/Products">
				<div class="Mybialist-item">
					<div class="mybialist-item-img products"></div>
					<div class="mybialist-item-text">პროდუქტები</div>
				</div>
			</a>
		</li>
	</ul>

</div>


<div class="OnTopScroller" id="OnTopScroller"></div></div>


	</div>

	<div id="Loader" class="display-none"></div>

	<div id="SharedAntiForgeryToken" data-link="https://www.bia.ge/Shared/ReplenishSession"><input name="__RequestVerificationToken" type="hidden" value="RgmgqCLfEqn7Zar0wZPAugcxYzx9Bb-k5n1-K13xx95awOTOVG8BjS5uR3Vtee-UbY7PLfTODfHnq1PUu1BgrwZmAn-s1a3eESwSIAmAb3A1" /></div>

	<script>
		function normalizePageContent() { if (!document.getElementById("Background_PageContent")) return; document.getElementById("Background_PageContent").style.height = (document.getElementById("PageContent").offsetHeight + 'px'); };
		document.getElementById("BodyContent").addEventListener('DOMSubtreeModified', function () { normalizePageContent(); });
		window.addEventListener('resize', function () { normalizePageContent(); });
		window.addEventListener('click', function () { normalizePageContent(); });
		normalizePageContent();
	</script>
			<script>
				/* google analytics */
				(function (i, s, o, g, r, a, m) {
					i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
						(i[r].q = i[r].q || []).push(arguments)
					}, i[r].l = 1 * new Date(); a = s.createElement(o),
						m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
				})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

				ga('create', 'UA-139432656-1', 'auto');
				ga('send', 'pageview');
				/* google analytics */
			</script>
			<script>
				/* facebook framework */
				(function (d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
				/* facebook framework */
			</script>
			<noscript>
				<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N65QTN4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
			</noscript>
	<script src="/bundles/Scripts/Frameworks/jQuery?v=P61uB-Lg-K2HQFNNft8F0kaYpNnMyWTY0R9gq29hGZs1"></script>

	<script src="/bundles/Scripts/Frameworks/jQueryUITools?v=ml57MBBx2yk_kl6XhGvZ20O4akFYZXbtLE5IqdQesO01"></script>

	<script src="/bundles/Scripts/Tools/DatepickerTools?v=BLhsYrhwX9sdkP0-yOEVaiSEK9rf5wbONtyOyEP3kWE1"></script>


	<script>
		$(document).ready(function () {
			BiaMain.curLang = (BiaMain.curLang || 'Geo');
			BiaMain.MainPath = (BiaMain.MainPath || 'https://www.bia.ge/');
			BiaMain.MainPath_Short = (BiaMain.MainPath_Short || '/');
			BiaMain.curLang_Short = (BiaMain.curLang_Short || '');
			BiaDictionary.NothingFound = (BiaDictionary.NothingFound || 'მონაცემი არ მოიძებნა');
			BiaDictionary.ErrorEmail = 'ელ.-ფოსტის ფორმატი არასწორია';
			BiaDictionary.NullReferenceError = 'ველის შევსება აუცილებელია';
			BiaDictionary.SubscriberSuccessfullySaved = 'თქვენ წარმატებით გამოიწერეთ ბიას სიახლეები';
			BiaDictionary.MailIsAlreadyInUse = 'მეილი უკვე გამოყენებულია';
			BiaDictionary.AnErrorOccured = 'დაფიქსირდა შეცდომა';
		});
	</script>

	<script src="/bundles/Scripts/Pages/_Other/Reklamebi?v=tlTciOEfVenk7mp7XZF2bV0flac1_WmbKiwkfPqzjKA1"></script>

	<script src="/bundles/Scripts/Common?v=bID0PDrEgQKAoF1dbSQyEmZXzhQBCrTBKSHTavEOwQ81"></script>

	<script src="/bundles/Scripts/Tools/Autocomplete?v=vxdHtm31uQUgmfnm4viBnk-WpkWle0ntgzulX3m-DB01"></script>

	<script src="/bundles/Scripts/Tools/AutocompleteMainSearch?v=DZ0P2OCuCTiwU7_zxVxL3JInTbUBn7OBPjeUz2KPbLE1"></script>

<script src="/bundles/Scripts/Tools/PushNotifications?v=7S0az57Y_QjnxpUqZ-aEj2XEyUqSTjqbgtQvMs-PgeY1"></script>
<script src="/bundles/Scripts/Tools/ServiceWorker?v=PROZAa8G7hqjK5InCP8KQa9SDNBOn5rZc51hIGt9hGo1"></script>
		<script>
			$(document).ready(function () {
				try {
					BiaMain.PushNotifications.AllowingPostLink = '/Shared/AllowUserPushNotifications';
				} catch (err) { }
			});
		</script>


<script src="/bundles/Scripts/Common/WebVisitLogs?v=JjguRFvc2Kjq6mu70S4lbVKfAFvJ4mkl517LSf_hUOk1"></script>
<script src="/bundles/Scripts/Frameworks/jQueryValidations?v=TxccrDu-aBSZMf-rIoXjr1u5m7e2G6S0sxCSpwtfMLY1"></script>
<script src="/bundles/Scripts/Pages/Parts/Header?v=lPAk3UTKj6uKVVfvL_TznB0TWeUS4z8Gon9h1vPaLRo1"></script>
<script src="/bundles/Scripts/Pages/Parts/Header/LogoBar?v=m1-42X1m_JJfeaJF7Yzwr8abkPrPcRegztv29-E79QQ1"></script>
<script src="/bundles/Scripts/Pages/Parts/Header/MainMenuBar?v=Fr10qnRiWQkHWctkLijXvHduW5PFiB1ABOukE_FPUD81"></script>
<script src="/bundles/Scripts/Pages/Parts/MovingTools/MyBiaSideBar?v=7OgoKYL9R-xNdiRPgI-gRoCiwgAXWWzkctFtQylXIvE1"></script>
<script src="/bundles/Scripts/Pages/Parts/MovingTools/OnTopScroller?v=xpwn7NlsK1J34sjx1aWRTUWndzkkPzjQEF0F9Pu6UoM1"></script>
<script src="/bundles/Scripts/Pages/Company/Index?v=Qi04lGLYUQkt5MWtg8kYiHGLOBT1582FcUMO0yjT36U1"></script>
<script src="/bundles/Scripts/Common/CompanyWebVisitLogs?v=qinHVIE9N6l3KBlP2V5qkFRhLFzvEYdG-he_rHteYzw1"></script>
<script src="/bundles/Scripts/Pages/MyBia/Favorites?v=WobbZ9qMZ2UcbdwMYWD0HXggwGz2awCvATzXThjuW_o1"></script>
<script src="/bundles/Scripts/Pages/Parts/Footer?v=yi6gj0YbzavS0OE8K-utIMSLbXZUXXfNtqXAqZyDqx41"></script>
<script src="/bundles/Scripts/Pages/Parts/Footer/SocialsBar?v=8m5bxyu5EyeKUsC0cv7LVYJqwuvOii03q1jkFb0_1DU1"></script>
<script src="/bundles/Scripts/Pages/Parts/Footer/CategoriesBar?v=JB5XXHokerFAHwe_Q8Y0AqRKHNs-CuhPD-pIdLhw4Ds1"></script>
<script src="/bundles/Scripts/Shared/FeedbackForm?v=rmOELuEHbvrlyUC_OLRGLtGtDiNdAHaweASapHnuIuI1"></script>
<script src="/bundles/Scripts/Pages/Parts/MovingTools/OnlineChatButton?v=Npyx0Y4z0DxiVEv3kh2KYddC1LWKIz6P21efefwuosM1"></script>
<script src="/bundles/Scripts/Shared/E_MailContactForm?v=-WXAGZMcqioTfB5uFtMj3XcB5bAvSA-zhHbQLyhYk5E1"></script>
<script src="/bundles/Scripts/Pages/Parts/MovingTools/TopFixedBar?v=R0vkrk7AbPFwfBVzBKfxBzmDisoSRYuiigkLUmLegZc1"></script>


	<script>
		BiaDictionary.Photogallery = 'ფოტოგალერეა';
		BiaDictionary.Add = 'დამატება';
		BiaDictionary.Close = 'დახურვა';
		BiaDictionary.ChangePhoto = 'ფოტოს შეცვლა';
		BiaDictionary.Save = 'შენახვა';
		BiaDictionary.AddNew = 'ახლის დამატება';
		BiaDictionary.Remove = 'წაშლა';
		BiaDictionary.TheNameGeo = 'დასახელება (ქართ.)';
		BiaDictionary.TheNameEng = 'დასახელება (ინგ.)';
		BiaDictionary.DescriptionGeo = 'აღწერილობა - (ქართ.)';
		BiaDictionary.DescriptionEng = 'აღწერილობა - (ინგ.)';
		BiaDictionary.Cancel = 'გაუქმება';
		BiaDictionary.Cover = 'ქავერ ფოტო';
		BiaDictionary.Logo = 'ლოგო';
		BiaDictionary.AddPhoto = 'სურათის დამატება';
		BiaDictionary.IsNotSelected = 'არ არის არჩეული';
		BiaDictionary.Group = 'ჯგუფი';
		BiaDictionary.OK = 'კარგი';
		BiaDictionary.Other = 'სხვა';
		BiaDictionary.SuccessfullyAddedIntoPending = 'თქვენი მოთხოვნა წარმატებით გაიგზავნა განსახილველად';
		BiaDictionary.WasNotAddedIntoPending = 'შეცდომა მოხდა მოთხოვნის გაგზავნისას. გთხოვთ მიმართოთ ადმინისტრატორს';
		BiaDictionary.Close = 'დახურვა';
		BiaMain.Company_Index.FollowerLink = 'https://follower.ge/wp-json/getCompanyByID/get?id=404447354';
		BiaDictionary.SeeMore = 'იხილეთ მეტი' + ' >>';
		BiaDictionary.Close = '<< ' + 'დახურვა';
		BiaMain.Company_Index.Longitude = '44.7855287';
		BiaMain.Company_Index.Latitude = '41.7099245';
		BiaDictionary.LocationOnMap = 'ადგილმდებარეობა რუკაზე';
	</script>
	<script src="https://www.google.com/recaptcha/api.js?hl=ka" async defer></script>

	<script src="/bundles/Scripts/Common/AfterPageLoad?v=Ai7_5npNJQc5BmFBnb5oenI_rOQmcZtDoOwZNd2ZLJo1"></script>

</body>
</html>